body {
	font-family: 'Arial', sans-serif;
	background-color: #f4f4f4;
	color: #333;
	margin: 0;
	padding: 0;
  }
  
  header {
	background-color: #ffffff;
	padding: 20px 0;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  header .header-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
  }
  
  header .logo img {
	max-height: 40px;
  }
  
  nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
  }
  
  nav ul li {
	margin-left: 20px;
  }
  
  nav ul li a {
	text-decoration: none;
	color: #333;
	font-weight: bold;
  }
  
  main {
	margin: 40px auto;
	max-width: 1000px;
	padding: 0 20px;
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  }
  
  .privacy-policy h1 {
	font-size: 28px;
	color: #444;
	margin-bottom: 20px;
	padding-top: 30px;
  }
  
  .privacy-policy p {
	font-size: 16px;
	line-height: 1.6;
	margin-bottom: 15px;
  }
  
  .privacy-policy h2 {
	font-size: 22px;
	color: #333;
	margin-top: 30px;
	margin-bottom: 10px;
  }
  .privacy-policy p:last-child {
	padding-bottom: 30px;
  }
  
  .privacy-policy a {
	color: #007BFF;
	text-decoration: none;
  }
  
  .privacy-policy a:hover {
	text-decoration: underline;
  }
  
  footer {
	background-color: #333;
	color: #fff;
	text-align: center;
	padding: 20px;
	position: relative;
	bottom: 0;
	width: 100%;
  }
  
  footer p {
	margin: 0;
  }
  
  footer a {
	color: #fff;
	text-decoration: none;
  }
  
  footer a:hover {
	text-decoration: underline;
  }
  
  /* Responsividad */
  @media (max-width: 768px) {
	.header-container {
	  flex-direction: column;
	  align-items: center;
	}
  
	nav ul {
	  flex-direction: column;
	  margin-top: 20px;
	}
  
	nav ul li {
	  margin-bottom: 10px;
	}
  }
  